button#login-button {
  padding: 0;
  font-size: 1em;
  background: transparent;
  border: none;
}

button#logout-button {
  padding: 5px;
  font-size: 1em;
  background: white;
  border: none;
}

button[type='button']:hover {
  cursor: pointer;
}

.loginButton img {
  display: block;
}
