* {
  box-sizing: border-box;
}

.App {
  height: 100vh;
  background-color: #282c34;
}

.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App-header {
  font-size: calc(10px + 2vmin);
  color: white;
}

.app-header-text {
  text-transform: uppercase;
}

.answer {
  font-size: 35em;
  color: white;
}

.status {
  font-size: 2em;
  color: white;
}

.error {
  font-size: 10em;
  color: orange;
}

.button-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.not-friday {
  text-align: center;
  color: white;
  font-size: 10em;
  padding: 50px;
}
